In [26]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

In [27]:
file_dir = 'C://Users/srkhan/desktop/bootcamp2021/Class_8'

In [28]:
# 1. Create a function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)
f'{file_dir}wikipedia-movies.json'

'C://Users/srkhan/desktop/bootcamp2021/Class_8wikipedia-movies.json'

In [29]:
# 3. Open the read the Wikipedia data JSON file.
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [30]:
len(wiki_movies_raw)

7311

In [31]:
ratings = pd.read_csv('ratings.csv')

In [32]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [33]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [35]:
print(wiki_movies_df.columns)

Index(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by',
       'Screenplay by', 'Story by', 'Based on', 'Starring',
       ...
       'Predecessor', 'Founders', 'Area served', 'Products', 'Services',
       'Russian', 'Hebrew', 'Revenue', 'Operating income', 'Polish'],
      dtype='object', length=193)

In [52]:
def create_df():
    data = kaggle_metadata, wiki_movies_df, ratings
    df = pd.DataFrame(data)
    return df
create_df()

C:\Users\srkhan\Anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0         adult                              belo...
1                                                ...
2            userId  movieId  rating   timestamp
...

In [48]:
d

SyntaxError: invalid syntax (<ipython-input-48-dbad2721cb8d>, line 1)

In [45]:
# 5. Return the three DataFrames
return wiki_movies_df

SyntaxError: 'return' outside function (<ipython-input-45-20ab7a9100d5>, line 2)